---
title: Home
layout: default
---

{% assign images = site.data.gallery | where: "featured", true %}
{% if images %}
<section id="welcome">
    <h1>Welcome to {{ site.title }}</h1>
    <ul id="gallery">{% for image in images %}
    {% include gallery-image.html image=image %}
    {% endfor %}</ul>
</section>
{% endif %}

{% assign events = site.data.events | where_exp: "event", "event.Summary contains 'FEATURED: '" %}
{% assign num_events = events | size %}
{% if 0 < num_events %}
<section id="featured-events">
    <h1>Featured Events</h1>
    <p>(<a href="{{ "/events/" | relative_url }}" title="View all events at {{ site.title }}">view all events</a>)</p>
    <ul id="events-wrapper">{% for event in events %}
        <li>{% include h-event.html event=event %}</li>
    {% endfor %}</ul>
</section>
{% endif %}

{% assign posts = site.posts | where: "featured", true %}
{% assign num_posts = posts | size %}
{% if 0 < num_posts %}
<section id="featured-posts">
    <h1>Featured Blog Posts</h1>
    <ol>{% for post in posts %}
    <li>
        {% include h-entry.html entry=post excerpt_only=true %}
    </li>
    {% endfor %}</ol>
</section>
{% endif %}

{% assign posts_featured_true = site.posts | where: "featured", false %}
{% assign posts_featured_nils = site.posts | where_exp: "post", "post.featured == nil" %}
{% assign posts = posts_featured_true | concat: posts_featured_nils | sort: "date" | reverse %}
{% assign num_posts = posts | size %}
{% if 0 < num_posts %}
<section id="blog-posts">
    <h1>Blog</h1>
    <ol>{% for post in posts %}
    <li>
        {% include h-entry.html entry=post excerpt_only=true %}
    </li>
    {% endfor %}</ol>
</section>
{% endif %}
